<div th:fragment="header" class="container-fluid">
	<script>
		function go(actionName) {
	        document.getElementById("fixerForm").action = "/jFixer/" + actionName;
	        document.getElementById("fixerForm").submit();
	    }
	</script>
	<a class="btn btn-secondary btn-lg" href="/jFixer">jFixer API</a>&nbsp;&nbsp;
	<!--/* 
	<a th:class="(${endpoint eq 'latest'} ? 'btn btn-primary' : 'btn btn-outline-primary')" href="/latest">Latest</a>&nbsp;&nbsp;
	*/-->
	<a th:class="(${endpoint eq 'latest'} ? 'btn btn-primary' : 'btn btn-outline-primary')" href="javascript: go('latest');">Latest</a>&nbsp;&nbsp;
	<a th:class="(${endpoint eq 'history'} ? 'btn btn-primary' : 'btn btn-outline-primary')" href="javascript: go('history');">Historical</a>&nbsp;&nbsp; 
	<a th:class="(${endpoint eq 'timeSeries'} ? 'btn btn-primary' : 'btn btn-outline-primary')" href="javascript: go('timeSeries');">Time-Series</a>&nbsp;&nbsp;
	<a th:class="(${endpoint eq 'fluctuations'} ? 'btn btn-primary' : 'btn btn-outline-primary')" href="javascript: go('fluctuations');">Fluctuations</a>&nbsp;&nbsp;
	<a th:class="(${endpoint eq 'convert'} ? 'btn btn-primary' : 'btn btn-outline-primary')" href="javascript: go('convert');">Convert</a>&nbsp;&nbsp;
	<a th:class="(${endpoint eq 'symbols'} ? 'btn btn-primary' : 'btn btn-outline-primary')" href="javascript: go('symbols');">Supported symbols</a>
</div>