<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<head lang="en" th:include="views/commonHeader :: header">
</head>

<body>

	<div th:insert="views/commonMenu :: header"></div>

	<hr />

	<div class="container-fluid">
		<div class="row">

			<th:block th:insert="views/commonColumns :: blankCol"></th:block>

			<th:block th:insert="views/commonColumns :: blankCol"></th:block>
			
			<th:block th:insert="views/commonForm :: formHome"></th:block>

			<div class="col">
				<h2>jFixer API Helper</h2>
				<h5>Demo and helper of <a href="https://github.com/lico/jFixer">jFixer</a>, the Java API for the <a href="https://fixer.io">Fixer.io</a> Exchange Rates web service</h5>
				Source code available at <a href="https://github.com/lico/jfixer-demo">jFixer-demo on GitHub</a>.
				<hr />
		
				<h4>Instructions</h4>
				<ul>
					<li>Select one of the above endpoints</li>
					<li>Fill-in the form and click on the submit button</li>
					<li>Depending on the parameters, requests will be sent to the Fixer.io API or to the internal simulator</li>
				</ul>
				
				<br />
				
				<h4>Important Notes</h4>
				<dl>
				<dt>About jFixer Helper</dt>
				<dd>- jFixer Helper uses the open source <a href="https://github.com/lico/jfixer">jFixer API</a> to send live requests to the Fixer.io web service</dd>
				<dd>- Calls to Fixer.io API may use HTTPS or not depending on your subscription plan, there's a selector in the form</dd>
				<dd>- The program requires a valid access key. This key is neither verified nor stored or sent to a 3rd party, it is just sent to Fixer.io using the Java API.</dd>
				<br />
				<dt>About the simulator mode</dt>
				<dd>- When "Simulator Mode" is selected, requests are not sent to the actual   
				Fixer.io web service but are instead processed locally by the jFixer Helper 
				simulator.
				</dd>
				<dd>
				- There's no need to enter a valid access key for the simulator. You can simulate an invalid access key by typing value INVALID_API_KEY.
				</dd>
				<dd>
				- The simulator generates test data, they should not be taken for actual rates.
				</dd>
				</dl>

			</div>
		</div>
	</div>


	<script src="/jFixer/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<script src="/jFixer/misc/jsonformat/jsonFormat.js"></script>
	<script src="/jFixer/jquery/3.3.1/jquery-3.3.1.min.js"></script>
	<script src="/jFixer/jquery-ui/1.12.1/jquery-ui.min.js"></script>

<th:block th:include="views/commonFooter :: generalFooter">